<div n:snippet>
	{control menu}
	{if $control->canEditMenu()}
		<span class="pull-right"><a class="btn{if $ajaxEnabled} ajax{/if}" n:href="this, view => Edit" title="{_'menu.panel.editMenu'}"><span class="glyphicon glyphicon-pencil"></span></a></span>
	{/if}
</div>