
{foreach $articles as $article}
<div n:class="!$article->isPublic || $isRootCategory && !$article->isVisibleInRootCategory ? inactive-transparent">
	{includeblock '../../articleListItem.latte', isRootCategory => $isRootCategory, articleConfig => $articleConfig}
</div>
	{sep}<hr>{/sep}
{/foreach}

{control paginator:pager, suffix => ' ' . $template->translate('article.general.articles')}