
{foreach $articles as $article}

	{includeblock '../../articleListItem.latte'}
	{sep}<hr>{/sep}
{/foreach}

{control paginator:pager, suffix => ' ' . $template->translate('article.general.articles')}