


<a n:if="$showAddButton" n:secured="WebContent, Edit" n:class="$ajaxEnabled ? ajax, btn, btn-primary" n:href="this, view => Add">{icon plus} {_'article.button.addArticle'}</a>

{foreach $articles as $article}

	{includeblock '../../articleListItem.latte'}

{/foreach}

{control paginator:pager, suffix => ' ' . $template->translate('article.general.articles')}