<h4>{$selectedUser->name}<span class="pull-right text-muted">#{$selectedUser->id}</span></h4>

<div class="row">
	<div class="col-lg-6">
		{control basicInfo}
	</div>
	<div class="col-lg-6">
		{control securityInfo}
	</div>
</div>