<form n:name="form">
	<div class="input-group">
		<input n:name="q" type="text" class="form-control">
		<span class="input-group-btn">
			<button n:name="doSearch">{icon search}</button>
		</span>
	</div>
</form>