# Vendor
vendor/*

# Dev tools
app/modules/Dev/*

# Nette temp
app/temp/cache/*
app/temp/log/*
app/temp/proxy/*
app/temp/btfj.dat

# CSS & JS
pub/libs/css/*
pub/libs/js/*
pub/combined/fonts/*
pub/combined/libs/*
pub/combined/default/*

# Upload folder
upload/*

# IDE
.idea/*


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
