RewriteEngine on
#RewriteBase /

AddType application/x-httpd-php .phpt

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(js|ico|gif|jpg|jpeg|png|pdf|css|html|swf|flv|xml|svg|woff|ttf|txt|php)$ index.php [QSA,L]
