{layout './@layout.latte'}

{define panelTitle}
	{_}webContent.panel.editContent{/_} - {_}fileManager.panel.fileManager{/_}
{/define}

{define panelContent}
	{control fileManager}
{/define}

{define afterPanel}
{/define}