<div class="dropdown" n:if="count($availableLocales)>1">
	<a class="btn" href="#" data-toggle="dropdown" title="{_'common.button.pickLocale'}" data-placement="left">
		<img class="flag-small" src="{$baseUri}/img/flag/{$locale}.png"> <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li n:foreach="$availableLocales as $availableLocale" n:class="$availableLocale == $locale ? active">
			<a href="{$presenter->link(this, [locale => $availableLocale])}"><img class="flag-small" src="{$baseUri}/img/flag/{$availableLocale}.png"> {_'common.lang.'.$availableLocale, NULL, [], NULL, $availableLocale}</a>
		</li>
	</ul>
</div>