<div class="row">
	<div class="col-sm-{=12-$articleConfig->articleSidebarWidth}">
		{includeblock '../articleListItem.latte', isDetail => TRUE, articleContent => $article->content, articleConfig => $articleConfig}
	</div>
	<div class="col-sm-{$articleConfig->articleSidebarWidth}">

		{includeblock '../articleSidebar.latte'}

	</div>


</div>
