extensions:
    ZaxCMSArticle: ZaxCMS\DI\ArticleExtension

ZaxCMSArticle:
    list:
        itemsPerPage: 15
        showTags: FALSE
        tagsOnBottom: TRUE
    category:
        showBreadCrumb: NULL
        showSubcategories: NULL
        sidebarWidth: 4
    article:
        defaults:
            isPublic: FALSE
            isVisibleInRootCategory: TRUE
            isMain: FALSE
        showTimePosted: TRUE
        showAuthor: TRUE
        showCategory: TRUE
        showTagsList: TRUE
        showTagsDetail: TRUE
        tagsOnBottom: TRUE
        sidebarWidth: 4
    author:
        sidebarWidth: 4