extensions:
    ZaxCMSArticle: ZaxCMS\DI\ArticleExtension

## NULL = show only if can edit
ZaxCMSArticle:
    list:
        itemsPerPage: 10
        showTags: TRUE
        tagsOnBottom: TRUE
    category:
        showBreadCrumb: NULL
        showSubcategories: NULL
        sidebarWidth: 3
    article:
        showTimePosted: TRUE
        showAuthor: TRUE
        showCategory: TRUE
        showTags: TRUE
        tagsOnBottom: TRUE
        sidebarWidth: 3
        defaults:
            isVisibleInRootCategory: TRUE
            isMain: FALSE
            isPublic: FALSE