extensions:
    ZaxCMSArticle: ZaxCMS\DI\ArticleExtension

ZaxCMSArticle:
    list:
        itemsPerPage: 15
        showTags: FALSE
        tagsOnBottom: TRUE
        showArticleButton: FALSE
    category:
        showBreadCrumb: FALSE
        showSubcategories: FALSE
        sidebarWidth: 4
    article:
        defaults:
            isPublic: FALSE
            isVisibleInRootCategory: TRUE
            isMain: FALSE
            sidebarCategory: TRUE
            imageConfig:
                visible:
                    root: TRUE
                    list: TRUE
                    detail: TRUE
                styles:
                    root: 1
                    list: 1
                    detail: 2
                open:
                    root: FALSE
                    list: FALSE
                    detail: TRUE
        showTimePosted: TRUE
        showAuthor: TRUE
        showCategory: TRUE
        showCategoryInCategory: FALSE
        showTagsList: FALSE
        showTagsDetail: TRUE
        tagsOnBottom: TRUE
        sidebarWidth: 4
    author:
        sidebarWidth: 4
        showList: NULL