### Core configuration file ###

parameters:

    ## Namespace <--> presenter mapping
    zax:
        application:
            mapping:
                *: ZaxCMS\*Module\*Presenter

## Nette settings
nette:
    session:
        autoStart: true
        expiration: 14 days

## NDB won't be probably used when using Doctrine, but good fallback if needed
    database:
        dsn: 'mysql:host=%zax.database.host%;dbname=%zax.database.database%'
        user: %zax.database.user%
        password: %zax.database.password%
        options:
            lazy: on
    application:
        mapping: %zax.application.mapping%

## Register extensions
extensions:
    injects: Zax\DI\CompilerExtensions\InjectExtension
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    gedmo: Rixxi\Gedmo\DI\OrmExtension
    priority: Zax\DI\CompilerExtensions\EmptyExtension

## Gedmo settings
gedmo:
    translatableLocale: cs_CZ
    defaultLocale: cs_CZ
    loggable: on
    sluggable: on
    softDeleteable: on
    sortable: on
    timestampable: on
    translatable: on
    tree: on
    uploadable: on

## Doctrine settings
doctrine:
    host: %zax.database.host%
    dbname: %zax.database.database%
    user: %zax.database.user%
    password: %zax.database.password%
    charset: UTF8
    driver: pdo_mysql
    logging: %debugMode%
    metadataCache: default
    queryCache: default
    resultCache: default
    hydrationCache: default
    classMetadataFactory: Kdyby\Doctrine\Mapping\ClassMetadataFactory
    defaultRepositoryClassName: Kdyby\Doctrine\EntityDao
    autoGenerateProxyClasses: %debugMode%
    namingStrategy: Doctrine\ORM\Mapping\UnderscoreNamingStrategy
    quoteStrategy: Doctrine\ORM\Mapping\DefaultQuoteStrategy
    entityListenerResolver: Kdyby\Doctrine\Mapping\EntityListenerResolver
    proxyDir: %tempDir%/proxy
    proxyNamespace: ZaxCMS\DoctrineProxy
    metadata:
        ZaxCMS\Model: %appDir%/model
    types:
        bit: Doctrine\DBAL\Types\BooleanType
    filters:
        soft-deleteable: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter

services:

    - Zax\Forms\FormExtension

    ## Empty Control factory
    - Zax\Application\UI\IEmptyFactory

    ## Easy access to project-specific dirs (as absolute paths), these services implement __toString()
    - Zax\Utils\AppDir(%appDir%)
    - Zax\Utils\RootDir(%rootDir%)
    - Zax\Utils\TempDir(%tempDir%)