nette:
    debugger:
        maxDepth: 1
        maxLen: 25
        browser: google-chrome
        bar:
            #- Nette\Bridges\DITracy\ContainerPanel
            - Nette\Bridges\HttpTracy\SessionPanel
            - Zax\Tracy\Panels\IdentityPanel