### Setup forms and error messages ###

parameters:
    zax:
        defaultFormClass: ZaxCMS\BaseForm

        ## Default error messages for custom validators
        formsMessages:
            Zax\\Forms\\Validators\\UploadValidator::validateExtension: 'form.error.fileExtension'

## Setup
nette:
    forms:
        messages:
            ## Default error messages for Nette validators
            FILLED: 'form.error.filled'
            MIN_LENGTH: 'form.error.minLength'
            MAX_LENGTH: 'form.error.maxLength'
            INTEGER: 'form.error.integer'
            IMAGE: 'form.error.image'
            EMAIL: 'form.error.email'
            URL: 'form.error.url'
            MAX_FILE_SIZE: 'form.error.maxFileSize'
            MIME_TYPE: 'form.error.mimeType'

services:
    ## Zax\Application\UI\IFormFactory
    #
    # Creates default forms
    #
    - Zax\Application\UI\FormFactory(%zax.defaultFormClass%)

    ## Zax\Forms\IBinder
    #
    # Provides simple methods for filling form from entity values and vice versa.
    #
    - Zax\Forms\DoctrineBinder