### Installer scripts ###

services:
    - ZaxCMS\Model\CMSInstall\DatabaseGenerator
    - ZaxCMS\Model\CMSInstall\CMSInstaller(%CMSInstalled%)
    - ZaxCMS\Model\CMSInstall\MenuInstaller
    - ZaxCMS\Model\CMSInstall\RoleInstaller