### Zax framework services and components ###

services:
    - Zax\Application\UI\SnippetGenerators\ShortSnippetGenerator

    - Zax\Security\DefaultPermission

    - Zax\Application\UI\IEmptyFactory

    - Zax\Utils\AppDir(%appDir%)
    - Zax\Utils\RootDir(%rootDir%)
    - Zax\Application\UI\FormFactory