### Zax CMS services, model and components ###

parameters:
    #menus: # <-- only needed when using array factory

services:

## Installer scripts

    - ZaxCMS\Model\DatabaseGenerator
    - ZaxCMS\Model\CMSInstaller

## Model

    - ZaxCMS\Model\RoleService
    - ZaxCMS\Model\WebContentService
    - ZaxCMS\Model\MenuService

## Components

    - ZaxCMS\Components\WebContent\IEditFormFactory
    - ZaxCMS\Components\WebContent\IEditFactory
    - ZaxCMS\Components\WebContent\IWebContentFactory

    - ZaxCMS\Components\Menu\MenuModelFactory
    - ZaxCMS\Components\Menu\IEditFactory
    - ZaxCMS\Components\Menu\IMenuWrapperFactory

    - ZaxCMS\Components\Menu\IEditMenuFactory
    - ZaxCMS\Components\Menu\IAddMenuItemFactory
    - ZaxCMS\Components\Menu\IEditMenuItemFactory