### Zax CMS services, model and components ###
services:

## Installer scripts

    - ZaxCMS\Model\DatabaseGenerator
    - ZaxCMS\Model\CMSInstaller

## Model

    - ZaxCMS\Model\RoleService
    - ZaxCMS\Model\WebContentService
    - ZaxCMS\Model\MenuService

## Router
    - ZaxCMS\Routers\RouterFactory
    router: @ZaxCMS\Routers\RouterFactory::create
