<div n:snippet="columns">
	<div class="btn-group">
		<a class="btn btn-default">Dva sloupce</a>
		<a class="btn btn-default">Tři sloupce</a>
		<a class="btn btn-default">Čtyři sloupce</a>
	</div>
</div>