<div n:snippet="img">
	<input class="form-control" type="text" placeholder="URL adresa obrázku">
	<select class="form-control">
		<option>Bez zarovnání</option>
		<option>Zarovnat doleva</option>
		<option>Zarovnat na střed</option>
		<option>Zarovnat doprava</option>
	</select>
	<a class="btn btn-default">Vložit</a>
</div>