<div n:snippet="link">
	<input class="form-control" type="text" placeholder="URL adresa odkazu">
	<input class="form-control" type="text" placeholder="Text odkazu">
	<div class="checkbox"><label><input type="checkbox"> Otevírat v nové záložce</label></div>
	<a class="btn btn-default">Vložit</a>
</div>