<div n:snippet="youtube">
	<input class="form-control" type="text" placeholder="URL nebo ID videa">
	<select class="form-control">
		<option>Malé okno</option>
		<option>Roztáhnout (4:3)</option>
		<option>Roztáhnout (16:9)</option>
	</select>
	<a class="btn btn-default">Vložit</a>
</div>