<div class="row" n:snippet>
	<div class="col-md-5">
		<div class="well puzzle-md-left">
		{control directoryList|indent:3}
		</div>
	</div>
	<div class="col-md-7">
		{control fileList|indent:3}
	</div>
</div>