{layout '../@layout.latte'}
{block title}Test doctrine{/block}
{block content}

	<div class="row">
		<div class="col-sm-12">
			{control webContent-index}

			{control webContent-indexBottom}
		</div>
	</div>
{/block}