general:
    articles: "articles"
    category: "Category"
    tag: "Tag"
    tags: "Tags"
    inCategory: "in category"
button:
    addArticle: "Add article"
    editArticle: "Edit article"
    addCategory: "Add category"
form:
    title: "Title"
    perex: "Perex"
    content: "Content"
    category: "Category"
    publish: "Publish"
    tags: "Tags (one per line)"
    parentCategory: "Parent category"
alert:
    articleSaved: "Article saved."
    categorySaved: "Category saved."