general:
    articles: "articles"
    category: "Category"
    tag: "Tag"
    tags: "Tags"
    inCategory: "in category"
button:
    addArticle: "Add article"
    editArticle: "Edit article"
    addCategory: "Add category"
    editCategory: "Edit category"
    saveAndGo: "and show"
form:
    title: "Title"
    perex: "Perex"
    content: "Content"
    category: "Category"
    publish: "Publish"
    tags: "Tags"
    parentCategory: "Parent category"
    styleSettings: "Display settings"
    author: "Author"
    setAsMain: "Set as main article"
    setVisibleOnMain: "Show in main category"
    introPicture: "Picture"
    layout: "Layout"
    displayImg: "Show image"
alert:
    articleSaved: "Article saved."
    categorySaved: "Category saved."