general:
    articles: "články"
    category: "Kategorie"
    tag: "Štítek"
    tags: "Štítky"
    inCategory: "v kategorii"
button:
    addArticle: "Přidat článek"
    editArticle: "Upravit článek"
    addCategory: "Přidat kategorii"
    editCategory: "Upravit kategorii"
    saveAndGo: "a zobrazit"
    showArticle: "celý článek"
form:
    title: "Nadpis"
    perex: "Perex"
    content: "Obsah"
    category: "Kategorie"
    publish: "Zveřejnit"
    tags: "Štítky"
    parentCategory: "Nadřazená kategorie"
    styleSettings: "Nastavení zobrazení"
    authors: "Autoři"
    setAsMain: "Nastavit jako hlavní článek"
    setVisibleOnMain: "Zobrazovat v kořenové kategorii"
    introPicture: "Úvodní obrázek"
    layout: "Rozložení"
    displayImg: "Zobrazit obrázek"
    inLists: "V seznamech"
    inRoot: "V kořenové kategorii"
    inArticleDetail: "V detailu článku"
    floatLeft: "Vlevo, obtékaný vším"
    floatLeftPerex: "Vlevo, obtékaný perexem"
    wide: "Roztáhnout na šířku"
    imageStyles: "Styl zobrazení obrázku"
    imgOpenOnClick: "Otevřít obrázek při kliknutí"
    useCategorySidebar: "Použít boční lištu z kategorie"
    useParentCategorySidebar: "Použít boční lištu z nadřazené kategorie"
    useCategoryImage: "Použít obrázek kategorie"
    confirmDeleteArticle: "Opravdu chcete odstranit článek '%article%'?"
    confirmDeleteCategory: "Opravdu chcete odstranit kategorii '%category%'?"
    confirmDeleteTag: "Opravdu chcete odstranit štítek '%tag%'?"
    confirmDeleteAuthor: "Opravdu chcete odstranit autora '%author%'?"
alert:
    articleSaved: "Článek byl uložen."
    categorySaved: "Kategorie byla uložena."