general:
    articles: "articles"
    category: "Category"
    tag: "Tag"
    tags: "Tags"
    inCategory: "in category"
button:
    addArticle: "Add article"
    editArticle: "Edit article"
    addCategory: "Add category"
    editCategory: "Edit category"
    editAuthor: "Edit author"
    saveAndGo: "and show"
    showArticle: "continue reading"
form:
    title: "Title"
    perex: "Perex"
    content: "Content"
    category: "Category"
    publish: "Publish"
    tags: "Tags"
    parentCategory: "Parent category"
    styleSettings: "Display settings"
    authors: "Authors"
    setAsMain: "Set as main article"
    setVisibleOnMain: "Show in main category"
    introPicture: "Picture"
    layout: "Layout"
    displayImg: "Show image"
    inLists: "In lists"
    inRoot: "In root category"
    inArticleDetail: "In article detail"
    floatLeft: "Float left"
    floatLeftPerex: "Float left below title "
    wide: "Wide"
    imageStyles: "Image display styles"
    useCategorySidebar: "Use category sidebar"
    useParentCategorySidebar: "Use parent category sidebar"
    useCategoryImage: "Use category image"
    aboutAuthor: "About author"
    hideAuthors: "Hide authors"
    confirmDeleteArticle: "Are you sure you want to delete '%article%' article?"
    confirmDeleteCategory: "Are you sure you want to delete '%category%' category?"
    confirmDeleteTag: "Are you sure you want to delete '%tag%' tag?"
    confirmDeleteAuthor: "Are you sure you want to delete '%author%' author?"
alert:
    articleSaved: "Article saved."
    categorySaved: "Category saved."
title:
    allAuthors: "All authors"