button:
    close: "Close"
    cancel: "Cancel"
    edit: "Edit"
    save: "Save"
    add: "Add"
    delete: "Delete"
    saveChanges: "Save changes"
    editAndClose: "Edit and close"
    chooseFile: "Choose file"
    preview: "Preview"
form:
    name: "Name"
    uniqueName: "Unique name"
    title: "Title"
    displayText: "Displayed text"
alert:
    changesSaved: "Changes saved."
    changesError: "Error while saving changes."
    newEntrySaved: "Item added."
    newEntryError: "Error while adding item."
    entryDeleted: "Error while deleting item."
general:
    note: "Note"
    never: "Never"
    is: "is"
    isnt: "is not"