lang:
    cs_CZ: "Čeština"
    en_US: "Angličtina"
button:
    close: "Zavřít"
    cancel: "Zrušit"
    edit: "Upravit"
    save: "Uložit"
    add: "Přidat"
    delete: "Odstranit"
    saveChanges: "Uložit změny"
    editAndClose: "Upravit a zavřít"
    chooseFile: "Vybrat soubor"
    preview: "Náhled"
    pickLocale: "Change language"
form:
    id: "ID"
    name: "Název"
    uniqueName: "Unikátní název"
    search: "Hledat"
    title: "Titulek"
    displayText: "Zobrazený text"
    internalName: "Vnitřní název"
    displayName: "Zobrazený název"
    description: "Popis"
    confirmDelete: "Opravdu chcete odstranit tuto položku?"
    advancedOptions: "Zobrazit pokročilé volby"
    sort: "Řazení"
    filter: "Filtry"
alert:
    changesSaved: "Změny uloženy."
    changesError: "Chyba při ukládání změn."
    newEntrySaved: "Položka byla přidána."
    newEntryError: "Chyba při přidávání položky."
    entryDeleted: "Položka byla odstraněna."
general:
    note: "Pozn."
    never: "Nikdy"
    is: "je"
    isnt: "není"
    yes: "Ano"
    no: "Ne"