lang:
    cs_CZ: "Czech"
    en_US: "English"
button:
    close: "Close"
    cancel: "Cancel"
    edit: "Edit"
    save: "Save"
    add: "Add"
    delete: "Delete"
    saveChanges: "Save changes"
    editAndClose: "Edit and close"
    chooseFile: "Choose file"
    chooseFiles: "Choose files"
    preview: "Preview"
    older: "Older"
    newer: "Newer"
    setCreatedNow: "Set time created to now"
    actions: "Actions"
    publish: "Publish"
    customize: "Customize"
form:
    id: "ID"
    name: "Name"
    uniqueName: "Unique name"
    search: "Search"
    title: "Title"
    displayText: "Displayed text"
    internalName: "Internal name"
    displayName: "Displayed name"
    description: "Description"
    confirmDelete: "Do you really want to delete this item?"
    options: "Options"
    advancedOptions: "Show advanced options"
    sort: "Sort"
    filter: "Filter"
    image: "Image"
    removeImage: "Remove image"
alert:
    changesSaved: "Changes saved."
    changesError: "Error while saving changes."
    newEntrySaved: "Item added."
    newEntryError: "Error while adding item."
    entryDeleted: "Error while deleting item."
general:
    note: "Note"
    never: "Never"
    nothing: "nothing"
    is: "is"
    isnt: "is not"
    yes: "Yes"
    no: "No"