relativeDate:
    fewSecondsAgo: "Less than minute ago"
    xMinutesAgo: "A minute ago|%minutes% minutes ago"
    xHoursAgo: "An hour ago|%hours% hours ago"
    xDaysAgo: "Yesterday|%days% days ago"
    xMonthsAgo: "A month ago|%months% months ago"
    xYearsAgo: "A year ago|%years% years ago"
day:
    monday: "monday"
    tuesday: "tuesday"
    wednesday: "wednesday"
    thursday: "thursday"
    friday: "friday"
    saturday: "saturday"
    sunday: "sunday"
month:
    january: "january"
    february: "february"
    march: "march"
    april: "april"
    may: "may"
    june: "june"
    july: "july"
    august: "august"
    september: "september"
    october: "october"
    november: "november"
    december: "december"