relativeDate:
    fewSecondsAgo: "Před několika vteřinami"
    xMinutesAgo: "Před minutou|Před %minutes% minutami"
    xHoursAgo: "Před hodinou|Před %hours% hodinami"
    xDaysAgo: "Včera|Před %days% dny"
    xMonthsAgo: "Před měsícem|Před %months% měsíci"
    xYearsAgo: "Před rokem|Před %years% lety"
day:
    monday: "pondělí"
    tuesday: "úterý"
    wednesday: "středa"
    thursday: "čtvrtek"
    friday: "pátek"
    saturday: "sobota"
    sunday: "neděle"
month:
    january: "leden"
    february: "únor"
    march: "březen"
    april: "duben"
    may: "květen"
    june: "červen"
    july: "červenec"
    august: "srpen"
    september: "září"
    october: "říjen"
    november: "listopad"
    december: "prosinec"