form:
    from: "Odesílatel"
    to: "Příjemce"
    subject: "Předmět"
    template: "Šablona"
    copy: "Zasílat kopie"
    cc: "Kopie (cc)"
    bcc: "Skrytá kopie (bcc)"
button:
    editMail: "Upravit e-mail"
    testMail: "Poslat testovací e-mail"
panel:
    emails: "E-maily"
alert:
    testMailSent: "Testovací e-mail byl odeslán."