form:
    inheritsFrom: "Inherits from"
button:
    addRole: "Add role"
    editRole: "Edit role"
    deleteRole: "Delete role"
    permissions: "Permissions"
    allRoles: "All roles"
    showUsers: "Show users"
panel:
    roles: "Roles"
text:
    allowed: "Is allowed to"
    disallowed: "Is not allowed to"