form:
    inheritsFrom: "Dědí z"
button:
    addRole: "Přidat roli"
    editRole: "Upravit roli"
    deleteRole: "Odstranit roli"
    permissions: "Oprávnění"
panel:
    roles: "Role"
text:
    allowed: "Smí"
    disallowed: "Nesmí"