form:
    inheritsFrom: "Dědí z"
button:
    addRole: "Přidat roli"
    editRole: "Upravit roli"
    deleteRole: "Odstranit roli"
    permissions: "Oprávnění"
    allRoles: "Všechny role"
    showUsers: "Zobrazit uživatele"
panel:
    roles: "Role"
text:
    allowed: "Smí"
    disallowed: "Nesmí"
    readOnlyMode: "U této role není možné měnit oprávnění"