button:
    clearCache: "Promazat cache"
    regenerateDatabase: "Přegenerovat databázi"
    regenerateDatabaseWhole: "celou"
    generateDatabase: "Vygenerovat databázi"
    createUser: "Vytvořit administrátora"
    testConnection: "Otestovat připojení"
    nextStep: "Přejít na další krok"
    installCms: "Nainstalovat ZaxCMS"
title:
    cmsInstaller: "ZaxCMS instalátor"
    generateDatabase: "Vygenerovat databázi"
    createUser: "Vytvoření administrátora"
form:
    username: "Jméno"
    email: "E-mail"
    password: "Heslo"
    passwordRepeat: "Heslo znovu"
    passwordNotMatch: "Hesla se neshodují"
    dbHost: "Server"
    dbUser: "Uživatel"
    dbPassword: "Heslo"
    dbDatabase: "Databáze"
alert:
    cacheCleared: "Cache promazána."
    databaseRegenerated: "Databáze přegenerována."
    databaseGenerated: "Databáze vygenerována."
    cmsInstalled: "CMS nainstalováno."
general:
    step: "Krok"