button:
    clearCache: "Clear cache"
    regenerateDatabase: "Regenerate database"
    regenerateDatabaseWhole: "whole"
alert:
    cacheCleared: "Cache cleared."
    databaseRegenerated: "Database regenerated."
    cmsInstalled: "CMS installed."