panel:
    users: "Users"
    basicInfo: "Basic info"
    security: "Security"
form:
    username: "Username"
    email: "E-mail"
    registered: "Registered"
    role: "Role"
    passwordChanged: "Password changed"
    banned: "Banned"
    superadminWarning: "Warning! If you promote this user to Superadmin, you won't be able to demote him!"
button:
    createUser: "Create user"