panel:
    users: "Uživatelé"
    basicInfo: "Základní info"
    security: "Zabezpečení"
form:
    username: "Jméno"
    email: "E-mail"
    registered: "Zaregistrován"
    role: "Role"
    passwordChanged: "Heslo změněno"
    banned: "Zabanován"
    superadminWarning: "Pozor! Pokud povýšíte tohoto uživatele na superadmina, nebude již možné jej sesadit!"
button:
    createUser: "Vytvořit uživatele"