{layout './@layout.latte'}

{define panelContent}

	<div class="row">
		<div class="col-xs-4 text-right">
			<a n:class="$ajaxEnabled ? ajax, btn, btn-primary" n:href="setCreatedNow!">{icon time} {_'common.button.setCreatedNow'}</a>
		</div>
		<div class="col-xs-8">
			<p>
				Použijte toto tlačítko pro nastavení data vytvoření článku na aktuální datum a čas.
			</p>
		</div>
	</div>

{/define}