{layout '../../../@layout.latte'}
{define title}{_}system.title.cmsInstaller{/_} - {_}system.title.generateDatabase{/_}{/define}

{define main}
	<div class="container" style="padding-top:50px">
		<div class="row">
			<div class="col-sm-12">
				{control install}
			</div>
		</div>
	</div>
{/define}
