<div n:snippet>
	{secured WebContent, Edit}
	<div class="webContent-editable">
	<span class="pull-right" title="{_'webContent.panel.editContent'}">
		<a n:class="btn, $ajaxEnabled ? ajax" n:href="this, view => Edit"><span class="glyphicon glyphicon-pencil"></span></a>
	</span>
	{/secured}

	{$cachedOutput|noescape}

	{secured WebContent, Edit}</div>{/secured}
</div>