<div n:snippet>
	{secured WebContent, Use}
	<div class="webContent-editable">
	<span class="pull-right" title="{_'webContent.panel.editContent'}">
		<a n:class="btn" n:href="this, view => Edit">{icon pencil}</a>
	</span>
	{/secured}

	{$cachedOutput|noescape}

	{secured WebContent, Use}</div>{/secured}
</div>