<div class="well">
	<span class="pull-right">
		<a title="{_'menu.button.moveUp'}" class="btn"><span class="glyphicon glyphicon-chevron-up"></span></a>
		<a title="{_'menu.button.moveDown'}" class="btn"><span class="glyphicon glyphicon-chevron-down"></span></a>
		<a title="{_'common.button.delete'}" class="btn{if $ajaxEnabled} ajax{/if}" n:href="this, view => Delete"><span class="glyphicon glyphicon-trash"></span></a>
	</span>
	<h4>{_}menu.panel.editMenuItem{/_}</h4>
	{control editItemForm}
</div>
