<span n:snippet>
	<a n:if="!$article->isPublic" n:secured="WebContent, Edit" n:class="btn, $ajaxEnabled ? ajax" title="{_'common.button.publish'}" n:href="publish! $article->id">{icon globe}</a>
</span>