<div n:snippet>
	<div class="row">
		<div class="col-sm-{=12-$c[author][sidebarWidth]}">




			{includeblock '../../authorListItem.latte'}

			{$author->aboutAuthor|texy|noescape}

			<hr>

			{control articleList}

		</div>
		<div class="col-sm-{$c[author][sidebarWidth]}">

			{includeblock '../../authorSidebar.latte'}

		</div>
	</div>
</div>

