services:
    - ZaxCMS\Components\Auth\IAdminPanelButtonFactory
    - ZaxCMS\Components\Auth\ILoginFormFactory
    - ZaxCMS\Components\Auth\ITinyLoginBoxFactory
    - ZaxCMS\Components\Auth\ILogoutButtonFactory