{layout './@layout.latte'}
{define dateTimeControl}
	{if $selectedValue === NULL}
		{? $selectedValue = new Nette\Utils\DateTime}
	{/if}
	{if $isNull}
		null
	{else}
		{$selectedValue|beautifulDateTime}
	{/if}

{/define}