services:
    - ZaxCMS\InstallModule\Components\Install\ISetDatabaseFactory
    - ZaxCMS\InstallModule\Components\Install\ICheckDatabaseFactory
    - ZaxCMS\InstallModule\Components\Install\ICreateUserFactory
    - ZaxCMS\InstallModule\Components\Install\IInstallFactory