
{define #page}
	{if isset($page)}
	<div class="pull-right">
		<a n:secured="Pages, Edit" title="{_'page.button.editPage'}" n:class="btn, $ajaxEnabled ? ajax" href="{$control->link(this, [view => Edit, page => $page->name])}">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a n:secured="Pages, Delete" title="{_'page.button.deletePage'}" n:class="btn, $ajaxEnabled ? ajax" href="{$control->link(this, [view => Delete, page => $page->name])}">
			<span class="glyphicon glyphicon-trash"></span>
		</a>
	</div>
	<a href="{plink :Front:Page:default, page => $page->name}">{plink :Front:Page:default, page => $page->name}</a>
	<hr>

	{control webContent-ZaxCMSPage$page->name}
	{/if}
{/define}

{define #pages}
	<div class="well well-sm">
		<ul class="nav nav-pills nav-stacked">
			<li n:secured="Pages, Add" n:class="$control->view == Add ? active">
				<a n:class="$ajaxEnabled ? ajax" href="{$control->link(this, [view => Add, page => NULL])}">
					<span class="glyphicon glyphicon-plus"></span> {_'page.button.addPage'}
				</a>
			</li>
			<li n:foreach="$pages as $page" class="{if $control->page === $page->name} active{/if}">
				<a n:class="$ajaxEnabled ? ajax" href="{$control->link(this, [view => Default, page => $page->name])}">{$page->title}</a>
			</li>
		</ul>
		{control paginator}
	</div>
{/define}

<div n:snippet>
	<div class="row">
		<div class="col-sm-4">
			{include #pages}
		</div>
		<div class="col-sm-8">
		{if isset($page) && $page !== NULL}
			{include #page, page => $page}
		{else}
			{include #page}
		{/if}
		</div>
	</div>
</div>