#ajax-loading-cursor {
    display:none;
    position:absolute;
    z-index:20000;
}

.form-control-static.form-group {
    margin-left:5px;
    margin-right:5px;
}

.if-not-js-hide {
    display:none;
}

.nav.size-small li>a{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}

.table.table-text-center td, .table.table-text-center th {
    text-align: center;
}

.table th .btn {
    padding-top:2px;
    padding-bottom:2px;
    padding-left:4px;
    padding-right:4px;
}

.table.table-date-input {
    table-layout:fixed;
}

.text-no-bold {
    font-weight: normal;
}

.well>.form-group {
    max-width:95%;
    margin-left:auto;
    margin-right:auto;
}

input.about-4-chars-long {
    width:50px;
}

input.about-3-chars-long {
    width:45px;
}

input.about-2-chars-long {
    width:40px;
}

.table.table-date-input a{
    text-decoration:none;
    display:block;
    width:100%;
    height:100%;
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-menu a{
    cursor: pointer;
}

.popover{
    max-width: none;
}