services:
    - ZaxCMS\Components\Article\IArticleListFactory

    - ZaxCMS\Components\Article\IArticleFactory
    - ZaxCMS\Components\Article\ICategoryFactory
    - ZaxCMS\Components\Article\ITagFactory
    - ZaxCMS\Components\Article\IAuthorFactory

    - ZaxCMS\Components\Article\IAddArticleFactory
    - ZaxCMS\Components\Article\IEditArticleFactory

    - ZaxCMS\Components\Article\IAddCategoryFactory
    - ZaxCMS\Components\Article\IEditCategoryFactory

    - ZaxCMS\Components\Article\IAddArticleFormFactory
    - ZaxCMS\Components\Article\IEditArticleFormFactory
    - ZaxCMS\Components\Article\IDeleteArticleFormFactory

    - ZaxCMS\Components\Article\IAddCategoryFormFactory
    - ZaxCMS\Components\Article\IEditCategoryFormFactory

    - ZaxCMS\Components\Article\IPublishButtonFactory





