services:
    - ZaxCMS\Components\Article\IArticleFactory
    - ZaxCMS\Components\Article\IArticleListFactory
    - ZaxCMS\Components\Article\IAddArticleFactory
    - ZaxCMS\Components\Article\IEditArticleFactory
    - ZaxCMS\Components\Article\IAddArticleFormFactory
    - ZaxCMS\Components\Article\IEditArticleFormFactory

    - ZaxCMS\Components\Article\IAddCategoryFactory
    - ZaxCMS\Components\Article\IAddCategoryFormFactory