<div class="gallery" n:snippet>
    <div class="row">
        <div class="col-sm-5">
            {control galleryList}
        </div>
        <div class="col-sm-7">

        </div>
    </div>


</div>