{layout './@layout.latte'}

{define panelContent}

	<div class="row">
		<div class="col-sm-7 text-right">
			<p class="form-control-static">{_'article.form.confirmDeleteAuthor', NULL, [author => $author->name]}</p>
		</div>
		<div class="col-sm-5">
			{control deleteAuthorForm}
		</div>
	</div>

{/define}