# Setting TRUE/FALSE options to NULL will return TRUE only if current user can edit articles

list:
    # Global switches
    itemsPerPage: 10        # articles per page (affects all article lists)
    showTags: FALSE         # show tags in lists
    tagsOnBottom: FALSE     # Show them on the bottom rather than top?
    showArticleButton: TRUE # show "full article" button
    showDivider: TRUE       # show <hr>s between articles
    dividerClasses: []      # add classes to <hr>s

category:
    # Global switches
    showBreadCrumb: FALSE
    showSubcategories: FALSE
    sidebarWidth: 3

article:
    # Global switches
    showTimePosted: FALSE
    showAuthor: FALSE
    showCategory: FALSE
    showCategoryInCategory: FALSE   # Show category when browsing that category?
    showCategoryInDetail: FALSE     # Show category in article detail?
    showAuthorInAuthor: FALSE       # Show author when browsing articles by author?
    showTagsList: FALSE
    showTagsDetail: FALSE           # Show tags in article detail?
    tagsOnBottom: FALSE             # Show them on the bottom rather than top?
    sidebarWidth: 3

    # Default form options
    defaults:
            isVisibleInRootCategory: FALSE
            isMain: FALSE
            isPublic: FALSE
            sidebarCategory: FALSE
            hideAuthors: FALSE
            imageConfig:
                visible:
                    root: TRUE
                    list: TRUE
                    detail: TRUE
                styles:         # 0 = float left, fixed width; 1 = float left below title, fixed width; 2 = wide, responsive
                    root: 1
                    list: 1
                    detail: 2
                open:           # Clicking img will: TRUE = open img in new tab; FALSE = open article if in list
                    root: FALSE
                    list: FALSE
                    detail: TRUE

author:
    # Global switches
    sidebarWidth: 3
    imageConfig:
        visible:
            list: TRUE
            detail: TRUE
        styles:         # 0 = float left, fixed width; 1 = float left below title, fixed width; 2 = wide, responsive
            list: 1
            detail: 1
        open:           # Clicking img will: TRUE = open img in new tab; FALSE = open author detail if in list
            list: FALSE
            detail: FALSE
tag:
    sidebarWidth: 3
