
<div n:snippet>
	<div class="row">
		<div class="col-sm-12">{control paginator}</div>
	</div>
	<div class="row" n:foreach="$articles as $article">
		<div class="col-sm-12"><a href="{plink :Front:Page:default, page => $article->name}">{$article->title}</a></div>
	</div>
	<div class="row">
		<div class="col-sm-12">{control paginator}</div>
	</div>
</div>